@font-face {
    font-family: "myWindows98Font";
    src: url('../w98-font/Web-TT/MSW98UI-Regular.woff2') format('woff2'),
        url('../w98-font/Web-TT/MSW98UI-Regular.woff') format('woff');
    /* Fallback for older browsers */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Best practice to show text immediately while loading */
}

@font-face {
    font-family: "myWindows98Font";
    src: url('../w98-font/Web-TT/MSW98UI-Bold.woff2') format('woff2'),
        url('../w98-font/Web-TT/MSW98UI-Bold.woff') format('woff');
    /* Fallback for older browsers */
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    /* Best practice to show text immediately while loading */
}

html {
    font-size: 1.5rem;
}

body {
    background-size: cover;
    transform: scale(1.5);
    transform-origin: top left;
    width: calc(100% / 1.5);
    display: flex;
}

#page-title {
    font-family: "myWindows98Font";
    color: white;
}

#parent-container {
    display: flex;
    flex-direction: column;
}

#page-content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#bio-container {
    height: max-content;
}

#navbar {
    height: max-content;
}

#copyright {
    color: white;
    align-self: flex-end;
    font-family: "myWindows98font";
}

#clippy1 {
    width: 100%;
}

#clippy2 {
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
}