@font-face {
    font-family: "myWindows98Font";
    src: url('w98-font/Web-TT/MSW98UI-Regular.woff2') format('woff2'),
        url('w98-font/Web-TT/MSW98UI-Regular.woff') format('woff');
    /* Fallback for older browsers */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Best practice to show text immediately while loading */
}

@font-face {
    font-family: "myWindows98Font";
    src: url('w98-font/Web-TT/MSW98UI-Bold.woff2') format('woff2'),
        url('w98-font/Web-TT/MSW98UI-Bold.woff') format('woff');
    /* Fallback for older browsers */
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    /* Best practice to show text immediately while loading */
}

html {
    font-size: 1.5rem;
}

body {
    background-image: url("../static/bg2.gif");
    background-size: cover;
    transform: scale(1.5);
    transform-origin: top left;
    width: calc(100% / 1.5);
}

#page-title {
    font-family: 'myWindows98Font';
    color: white;
}

#parent-container {
    display: flex;
    flex-direction: column
}

#page-content {
    display: flex;
    flex-direction: row
}

#navbar {
    height: max-content;

}

nav {
    display: flex;
    flex-direction: column;
}

#music-player {}