body {
    background-image: url("../static/bg2.gif");
    background-size: cover;
}

#parent-container {
    display: flex;
}

#main-container {
    width: 60vw;
    height: 50vh;

}

#page-title {
    color: white;
}

#music-player {}